In [33]:
import pandas as pd 

Airbnb_df = pd.read_csv('AirbnbDataset.csv')

In [34]:
Airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [35]:
Airbnb_df.rename(columns={
    'id': 'listing_id',
    'name': 'listing_name',
    'host_id': 'host_listing_id',
    'host_name': 'host_owner_name',
    'neighbourhood_group': 'borough',
    'neighbourhood': 'neighborhood',
    'latitude': 'listing_latitude',
    'longitude': 'listing_longitude',
    'room_type': 'room_type',
    'price': 'listing_price',
    'minimum_nights': 'min_nights',
    'number_of_reviews': 'num_reviews',
    'last_review': 'last_review_date',
    'reviews_per_month': 'reviews_per_month',
    'calculated_host_listings_count': 'host_listings_count',
    'availability_365': 'availability_365'
}, inplace=True)

Airbnb_df.head()

,listing_id,listing_name,host_listing_id,host_owner_name,borough,neighborhood,listing_latitude,listing_longitude,room_type,listing_price,min_nights,num_reviews,last_review_date,reviews_per_month,host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [36]:
Airbnb_df.dtypes

listing_id               int64
listing_name            object
host_listing_id          int64
host_owner_name         object
borough                 object
neighborhood            object
listing_latitude       float64
listing_longitude      float64
room_type               object
listing_price            int64
min_nights               int64
num_reviews              int64
last_review_date        object
reviews_per_month      float64
host_listings_count      int64
availability_365         int64
dtype: object

In [37]:
Airbnb_df['listing_name'] = Airbnb_df['listing_name'].astype(str)
Airbnb_df['host_owner_name'] = Airbnb_df['host_owner_name'].astype(str)
Airbnb_df['borough'] = Airbnb_df['borough'].astype(str)
Airbnb_df['neighborhood'] = Airbnb_df['neighborhood'].astype(str)
Airbnb_df['room_type'] = Airbnb_df['room_type'].astype(str)
Airbnb_df['last_review_date'] = pd.to_datetime(Airbnb_df['last_review_date'], errors='coerce')

In [38]:
Airbnb_df.count()

listing_id             48895
listing_name           48895
host_listing_id        48895
host_owner_name        48895
borough                48895
neighborhood           48895
listing_latitude       48895
listing_longitude      48895
room_type              48895
listing_price          48895
min_nights             48895
num_reviews            48895
last_review_date       38843
reviews_per_month      38843
host_listings_count    48895
availability_365       48895
dtype: int64

In [39]:
null_values = Airbnb_df.isnull().sum()

print('Number of Null or Empty values in Each Column:')

null_values

Number of Null or Empty values in Each Column:

listing_id                 0
listing_name               0
host_listing_id            0
host_owner_name            0
borough                    0
neighborhood               0
listing_latitude           0
listing_longitude          0
room_type                  0
listing_price              0
min_nights                 0
num_reviews                0
last_review_date       10052
reviews_per_month      10052
host_listings_count        0
availability_365           0
dtype: int64

In [40]:
listing_name_mode = Airbnb_df['listing_name'].mode()[0]
Airbnb_df['listing_name'].fillna(listing_name_mode, inplace=True)

In [41]:
host_owner_name_mode = Airbnb_df['host_owner_name'].mode()[0]
Airbnb_df['host_owner_name'].fillna(host_owner_name_mode, inplace=True)

In [42]:
Airbnb_df['last_review_date'].fillna(method='ffill', inplace=True)

In [43]:
mean_reviews_per_month = Airbnb_df['reviews_per_month'].mean()
Airbnb_df['reviews_per_month'].fillna(mean_reviews_per_month, inplace=True)

In [44]:
Airbnb_df = pd.get_dummies(Airbnb_df, columns=['borough', 'room_type'], drop_first=True)

In [45]:
Airbnb_df['reviewscount'] = (Airbnb_df['reviews_per_month'] * 30).apply(round)

In [47]:
Airbnb_df.head()

,listing_id,listing_name,host_listing_id,host_owner_name,neighborhood,listing_latitude,listing_longitude,listing_price,min_nights,num_reviews,...,reviews_per_month,host_listings_count,availability_365,borough_Brooklyn,borough_Manhattan,borough_Queens,borough_Staten Island,room_type_Private room,room_type_Shared room,reviewscount
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,149,1,9,...,0.210000,6,365,True,False,False,False,True,False,6
1,2595,Skylit Midtown Castle,2845,Jennifer,Midtown,40.75362,-73.98377,225,1,45,...,0.380000,2,355,False,True,False,False,False,False,11
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Harlem,40.80902,-73.94190,150,3,0,...,1.373221,1,365,False,True,False,False,True,False,41
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,89,1,270,...,4.640000,1,194,True,False,False,False,False,False,139
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,East Harlem,40.79851,-73.94399,80,10,9,...,0.100000,1,0,False,True,False,False,False,False,3

In [48]:
Airbnb_df.to_csv('CleanedAirbnb.csv')

In [57]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

selected_features = ['listing_longitude', 'listing_latitude', 'min_nights', 'availability_365']
X = Airbnb_df[selected_features]
y = Airbnb_df['listing_price']

rf_model = RandomForestRegressor()

rf_model.fit(X, y)

feature_importance = pd.Series(rf_model.feature_importances_, index=X.columns)
feature_importance.sort_values(ascending=False, inplace=True)

print(feature_importance)

listing_latitude     0.381928
listing_longitude    0.360434
min_nights           0.131271
availability_365     0.126367
dtype: float64

In [58]:
from sklearn.model_selection import train_test_split
selected_features = ['listing_longitude', 'listing_latitude', 'min_nights', 'availability_365']
X = Airbnb_df[selected_features]
y = Airbnb_df['listing_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Training set - X shape:", X_train.shape)
print("Training set - y shape:", y_train.shape)
print("Testing set - X shape:", X_test.shape)
print("Testing set - y shape:", y_test.shape)

Training set - X shape: (39116, 4)
Training set - y shape: (39116,)
Testing set - X shape: (9779, 4)
Testing set - y shape: (9779,)

In [59]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

model = LinearRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared:", r2)

Mean Squared Error: 42633.52877514315
Root Mean Squared Error: 206.47888215297746
R-squared: 0.03627425535422557

In [60]:
from sklearn.ensemble import RandomForestRegressor

# Initialize the Random Forest Regressor model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Train the model on the training set
rf_model.fit(X_train, y_train)

# Make predictions on the testing set
y_pred_rf = rf_model.predict(X_test)

# Evaluate the Random Forest model
mse_rf = mean_squared_error(y_test, y_pred_rf)
rmse_rf = np.sqrt(mse_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print("Random Forest - Mean Squared Error:", mse_rf)
print("Random Forest - Root Mean Squared Error:", rmse_rf)
print("Random Forest - R-squared:", r2_rf)

Random Forest - Mean Squared Error: 42956.24026181876
Random Forest - Root Mean Squared Error: 207.25887257683027
Random Forest - R-squared: 0.028979401356976298